<div class="card d-flex flex-row m-3 p-4">
    <div class="d-flex justify-content-between mr-4 w-100">
        <div class="d-flex flex-column">
            <span class="font-weight-bold mb-3">{{displayRide.creator.name}} | {{displayRide.vehicle.vehicle_type}} - {{displayRide.vehicle.vehicle_num}}</span>
            <span>{{displayRide.pickUp}} --> {{displayRide.destination}} </span>
        </div>
        <div class="d-flex flex-column">
            <span class="mb-3">{{displayRide.vehicle.seats - displayRide.occupied.length }} seats</span>
            <span>{{displayRide.time | date : 'MMM/dd h:mm a '}}</span>
        </div>
    </div>
    <div *ngIf="canBook" class="align-items-center d-inline-flex ng-star-inserted">
        <div class="btn btn-primary" (click)="book()">Book</div>
    </div>
</div>