@font-face {
    font-family: 'Arimo';
    src: url("/assets/fonts/Arimo-Regular.ttf") format("truetype");
  }

@font-face{
    font-family: 'Muli';
    src: url("/assets/fonts/Muli-Regular.ttf") format("truetype");
}